
<div class="layui-fluid">


  <div class="layui-row layui-col-space15">
  
      <div class="layui-row layui-col-space15">
          <div class="layui-card">
            <div class="layui-card-header">欢迎进入建元管理后台</div>
            <div class="layui-card-body">
              
              <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                <div carousel-item>
                  <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="content/edit">
                          <i class="layui-icon layui-icon-read"></i>
                          <cite>编辑文章</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="message/list">
                          <i class="layui-icon layui-icon-notice"></i>
                          <cite>查看消息</cite>
                        </a>
                      </li>

                       <li class="layui-col-xs3">
                        <a lay-href="system/website">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>网站设置</cite>
                        </a>
                      </li>

                      <li class="layui-col-xs3">
                        <a lay-href="system/link">
                          <i class="layui-icon layui-icon-friends"></i>
                          <cite>友情链接</cite>
                        </a>
                      </li>
                      
                      <li class="layui-col-xs3">
                        <a href="https://exmail.qq.com/login">
                          <i class="layui-icon layui-icon-login-wechat"></i>
                          <cite>腾讯企业邮箱</cite>
                        </a>
                      </li>

                    </ul>
                   
                  
                </div>
              </div>
              
            </div>
          </div>
 
    
  
    
  </div>


</div>


<script>


layui.use('console', layui.factory('console'));
</script>

