

  <title>文章列表</title>
  
  <div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
      <a lay-href="">主页</a>
      <a><cite>消息</cite></a>
      <a><cite>消息列表</cite></a>
    </div>
  </div>

  <div class="layui-fluid">
     <div class="layui-card">

    <div class="layui-collapse" lay-accordion>
      <div class="layui-colla-item">
        <h2 class="layui-colla-title">筛选条件</h2>
        <div class="layui-colla-content layui-show">
          <div class="layui-form" lay-filter="LAY-message-filter">
           
            <div class="layui-form-item">
              <label class="layui-form-label">状态</label>
              <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="已处理">
                <input type="radio" name="status" value="0" title="未处理">
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="LAY-message-filter">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>



<div class="layui-fluid">

  <div class="layui-card">
    <div class="layui-card-body">
      <table id="LAY-message-list" lay-filter="LAY-message-list"></table>
      
      <script type="text/html" id="statusTpl">
        {{#  if(d.status == 1){ }}
        <button class="layui-btn layui-btn-xs">已处理</button>
        {{#  } else { }}
        <button class="layui-btn layui-btn-primary layui-btn-xs">未处理</button>
        {{#  } }}
      </script>
    
      <script type="text/html" id="table-message-operate">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
            class="layui-icon layui-icon-edit"></i>处理</a>

        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon layui-icon-delete"></i>删除</a>
       
      </script>
    </div>

  </div>
</div>

<script>
  layui.use('message', layui.factory('message'))
</script>

