<title>网站设置</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>设置</cite></a>
    <a><cite>网站设置</cite></a>
  </div>
</div>
  
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">

   
      <div class="layui-card">
        <div class="layui-card-header">网站设置</div>
        <div class="layui-card-body" pad15>
   
          <div class="layui-form" wid100 lay-filter="LAY-website">
           <input type="hidden" name="id" value="" />
            <div class="layui-form-item">
              <label class="layui-form-label">网站</label>
              <div class="layui-input-block">
                <input type="text" name="name" value="" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">网站LOGO</label>
              <div class="layui-input-inline">
                <input name="logo" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址" value="" class="layui-input">
              </div>
              <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                  <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <button class="layui-btn layui-btn-primary" layadmin-event="avatarPreview">查看图片</button>
              </div>
           </div>
            <div class="layui-form-item">
              <label class="layui-form-label">固定电话</label>
              <div class="layui-input-block">
                <input type="text" name="telphone" value="" class="layui-input">
              </div>
            </div>
             <div class="layui-form-item">
              <label class="layui-form-label">移动电话</label>
              <div class="layui-input-block">
                <input type="text" name="cellphone" value="" class="layui-input">
              </div>
            </div>
             <div class="layui-form-item">
              <label class="layui-form-label">email</label>
              <div class="layui-input-block">
                <input type="text" name="email" value="" lay-verify="email" class="layui-input">
              </div>
            </div>
             <div class="layui-form-item">
              <label class="layui-form-label">地址</label>
              <div class="layui-input-block">
                <input type="text" name="address" value="" class="layui-input">
              </div>
            </div>
             <div class="layui-form-item">
              <label class="layui-form-label">位置</label>
              <div class="layui-input-block">
                <input type="text" name="position" value="" class="layui-input">
              </div>
            </div>

              <div class="layui-form-item">
              <label class="layui-form-label">微信服务号</label>
              <div class="layui-input-inline">
                <input name="wxapp" lay-verify="required" id="LAY_wxappSrc" placeholder="图片地址" value="" class="layui-input">
              </div>
              <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button type="button" class="layui-btn layui-btn-primary" id="LAY_wxappUpload">
                  <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <button class="layui-btn layui-btn-primary" layadmin-event="wxappPreview">查看图片</button >
              </div>
           </div>

             <div class="layui-form-item">
              <label class="layui-form-label">微信小程序</label>
              <div class="layui-input-inline">
                <input name="minapp" lay-verify="required" id="LAY_minappSrc" placeholder="图片地址" value="" class="layui-input">
              </div>
              <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button type="button" class="layui-btn layui-btn-primary" id="LAY_minappUpload">
                  <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <button class="layui-btn layui-btn-primary" layadmin-event="minappPreview">查看图片</button >
              </div>
           </div>
            
            
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">首页标题</label>
              <div class="layui-input-block">
                <textarea name="seoTitle" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">META关键词</label>
              <div class="layui-input-block">
                <textarea name="seoKeywords" class="layui-textarea" placeholder="多个关键词用英文状态 , 号分割"> </textarea>
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">META描述</label>
              <div class="layui-input-block">
                <textarea name="seoDesc" class="layui-textarea">  </textarea>
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">版权信息</label>
              <div class="layui-input-block">
              <input type="text" name="copyright" value="" class="layui-input">
              </div>
            </div>

             <div class="layui-form-item">
              <label class="layui-form-label">备案号</label>
              <div class="layui-input-block">
                <input type="text" name="icp" value="" class="layui-input">
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="LAY-website">确认保存</button>
              </div>
            </div>
          </div>
     
        </div>
      </div>


    </div>
  </div>
</div>

<script>
layui.use('website', layui.factory('website'));
</script>